<a href="https://colab.research.google.com/github/sisomimoctrl/finance-data/blob/main/investing_realtime_us_spx_500_futures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd
import json
import datetime
headers = {'User-Agent':'Chrome/78.0.3904.87 Safari/537.36',}
url = 'https://api.investing.com/api/financialdata/8839/historical/chart/?interval=PT5M&pointscount=70'
json_data = json.loads(requests.get(url, headers=headers).text)
json_data

{'data': [[1655849400000, 3763.25, 3764, 3762.25, 3764, 318, 2363],
  [1655849700000, 3763.75, 3763.75, 3762.25, 3763, 283, 2681],
  [1655850000000, 3763.25, 3765.5, 3762, 3765.25, 596, 2964],
  [1655850300000, 3765.5, 3765.5, 3764, 3764.5, 571, 3560],
  [1655850600000, 3764.5, 3764.5, 3763, 3763.5, 425, 4131],
  [1655850900000, 3764, 3764.25, 3761.75, 3762.25, 422, 4556],
  [1655851200000, 3762.5, 3764.5, 3762, 3764.5, 258, 4978],
  [1655851500000, 3764, 3765, 3763.75, 3763.75, 414, 5236],
  [1655851800000, 3764.5, 3764.5, 3764, 3764, 210, 5650],
  [1655852100000, 3764, 3765.75, 3763.5, 3765.5, 174, 5860],
  [1655852400000, 3765.5, 3765.75, 3762.75, 3763.75, 652, 6034],
  [1655852700000, 3763.75, 3764, 3762.25, 3762.25, 352, 6686],
  [1655853000000, 3762.25, 3762.5, 3761.25, 3761.5, 557, 7038],
  [1655853300000, 3762, 3762, 3760.25, 3760.25, 745, 7595],
  [1655853600000, 3760, 3761, 3759.5, 3760.75, 700, 8340],
  [1655853900000, 3760.75, 3761.75, 3760.5, 3760.5, 594, 9040],
  [1655854200000, 3760.75, 3763.5, 3760.75, 3763.25, 731, 9634],
  [1655854500000, 3763.5, 3763.5, 3762.25, 3763, 305, 10365],
  [1655854800000, 3763, 3763.25, 3761, 3761.75, 409, 10670],
  [1655855100000, 3761.75, 3763.75, 3761.5, 3763.25, 370, 11079],
  [1655855400000, 3763.5, 3764.75, 3763.5, 3764.5, 414, 11449],
  [1655855700000, 3764.25, 3765, 3764.25, 3764.75, 233, 11863],
  [1655856000000, 3764.75, 3765.25, 3761, 3761.25, 1091, 12096],
  [1655856300000, 3761.25, 3761.5, 3756.25, 3757, 1643, 13187],
  [1655856600000, 3757.25, 3757.5, 3753.25, 3754.5, 1637, 14830],
  [1655856900000, 3753.5, 3756.75, 3753.5, 3756, 1599, 16467],
  [1655857200000, 3756, 3758.25, 3754.25, 3754.25, 783, 18066],
  [1655857500000, 3754.5, 3757.5, 3754.5, 3756.5, 600, 18849],
  [1655857800000, 3756.75, 3757.25, 3753.25, 3753.25, 931, 19449],
  [1655858100000, 3753.25, 3755.5, 3753.25, 3753.75, 725, 20380],
  [1655858400000, 3753.75, 3754.75, 3753.25, 3754.5, 382, 21105],
  [1655858700000, 3754.5, 3754.5, 3752, 3752.25, 730, 21487],
  [1655859000000, 3752, 3753, 3750.75, 3752, 731, 22217],
  [1655859300000, 3752.25, 3753.75, 3751.75, 3753.25, 570, 22948],
  [1655859600000, 3753.5, 3753.5, 3751.5, 3752, 531, 23518],
  [1655859900000, 3752.25, 3754.5, 3752.25, 3754.25, 601, 24049],
  [1655860200000, 3754.5, 3755.25, 3753.5, 3754.75, 690, 24650],
  [1655860500000, 3754.5, 3755.5, 3754, 3755, 450, 25340],
  [1655860800000, 3755.25, 3756, 3754, 3754, 377, 25790],
  [1655861100000, 3754, 3755.5, 3753.75, 3754.25, 299, 26167],
  [1655861400000, 3754, 3755, 3752, 3752.5, 719, 26466],
  [1655861700000, 3752.5, 3753, 3747.75, 3748.25, 1591, 27185],
  [1655862000000, 3747.75, 3749, 3745, 3745.5, 1404, 28776],
  [1655862300000, 3745, 3747.75, 3744.25, 3747.25, 1228, 30180],
  [1655862600000, 3747.25, 3748.25, 3745.25, 3746.25, 844, 31408],
  [1655862900000, 3746.25, 3747.75, 3745.25, 3747.25, 926, 32252],
  [1655863200000, 3747.5, 3749.25, 3747.5, 3749, 694, 33178],
  [1655863500000, 3749, 3749, 3746.5, 3747.5, 697, 33872],
  [1655863800000, 3747.25, 3749.5, 3747, 3747.75, 653, 34569],
  [1655864100000, 3747.75, 3747.75, 3744.5, 3744.5, 667, 35222],
  [1655864400000, 3744.75, 3745.25, 3742.5, 3743.25, 1076, 35889],
  [1655864700000, 3743.5, 3744, 3742.25, 3743.5, 425, 36965],
  [1655865000000, 3743.5, 3744, 3743, 3743.75, 439, 37390],
  [1655865300000, 3743.75, 3745.75, 3743, 3744, 808, 37829],
  [1655865600000, 3743.5, 3744.5, 3739.75, 3740.25, 1351, 38637],
  [1655865900000, 3739.75, 3739.75, 3736.75, 3737, 1473, 39988],
  [1655866200000, 3737, 3737.75, 3735.5, 3736.75, 1297, 41461],
  [1655866500000, 3736.75, 3737.25, 3733.25, 3733.5, 1296, 42758],
  [1655866800000, 3733.5, 3735.75, 3732.75, 3733.25, 993, 44054],
  [1655867100000, 3733.5, 3734.5, 3731.75, 3731.75, 803, 45047],
  [1655867400000, 3731.75, 3732.5, 3730, 3732.25, 1498, 45850],
  [1655867700000, 3732.5, 3733.25, 3731.25, 3732.75, 1157, 47348],
  [1655868000000, 3733, 3734, 3732.25, 3732.5, 768, 48505],
  [1655868300000, 3732.5, 3735, 3732.5, 3734, 626, 49273],
  [1655868600000, 3734, 3734, 3730, 3731.25, 1717, 49899],
  [1655868900000, 3731, 3731, 3728.75, 3729, 1534, 51616],
  [1655869200000, 3729.25, 3731.25, 3728.5, 3730.75, 1028, 53150],
  [1655869500000, 3730.5, 3732.75, 3730.5, 3732.25, 1317, 54178],
  [1655869800000, 3732.25, 3734.25, 3732, 3733, 936, 55495],
  [1655870100000, 3732.5, 3733.25, 3731.75, 3733, 285, 56431]],
 'events': None}

In [2]:
df = pd.DataFrame(json_data['data'])
df.head()

               0        1        2        3        4    5     6
0  1655849400000  3763.25  3764.00  3762.25  3764.00  318  2363
1  1655849700000  3763.75  3763.75  3762.25  3763.00  283  2681
2  1655850000000  3763.25  3765.50  3762.00  3765.25  596  2964
3  1655850300000  3765.50  3765.50  3764.00  3764.50  571  3560
4  1655850600000  3764.50  3764.50  3763.00  3763.50  425  4131

In [3]:
df = df.loc[:,0:5]
df.columns=['Timestamp','Open','High','Low','Close','Volume']
df.head()

       Timestamp     Open     High      Low    Close  Volume
0  1655849400000  3763.25  3764.00  3762.25  3764.00     318
1  1655849700000  3763.75  3763.75  3762.25  3763.00     283
2  1655850000000  3763.25  3765.50  3762.00  3765.25     596
3  1655850300000  3765.50  3765.50  3764.00  3764.50     571
4  1655850600000  3764.50  3764.50  3763.00  3763.50     425

In [4]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='ms')
df.rename(columns = {'Timestamp':'Date'},inplace=True)
df.set_index('Date', inplace=True)
df.head()

                        Open     High      Low    Close  Volume
Date
2022-06-21 22:10:00  3763.25  3764.00  3762.25  3764.00     318
2022-06-21 22:15:00  3763.75  3763.75  3762.25  3763.00     283
2022-06-21 22:20:00  3763.25  3765.50  3762.00  3765.25     596
2022-06-21 22:25:00  3765.50  3765.50  3764.00  3764.50     571
2022-06-21 22:30:00  3764.50  3764.50  3763.00  3763.50     425

In [5]:
# convert timezone from UTC to GMT+9
df.index = df.index.tz_localize('gmt').tz_convert('Asia/Seoul')
df.head()

                              Open     High      Low    Close  Volume
Date
2022-06-22 07:10:00+09:00  3763.25  3764.00  3762.25  3764.00     318
2022-06-22 07:15:00+09:00  3763.75  3763.75  3762.25  3763.00     283
2022-06-22 07:20:00+09:00  3763.25  3765.50  3762.00  3765.25     596
2022-06-22 07:25:00+09:00  3765.50  3765.50  3764.00  3764.50     571
2022-06-22 07:30:00+09:00  3764.50  3764.50  3763.00  3763.50     425

In [6]:
import plotly.graph_objects as go
from datetime import datetime

df1 = df.reset_index()
df1['Date'] = df1['Date'].apply(lambda x : datetime.strftime(x, '%Y-%m-%d %H:%M:%S')) # Datetime to str

stock_name = 'S&P 500 선물'

fig = go.Figure(data=[go.Candlestick(x=df1['Date'],
                open=df1['Open'],
                high=df1['High'],
                low=df1['Low'],
                close=df1['Close'],
                increasing_line_color = 'red', # 상승색, default는 녹색
                decreasing_line_color = 'blue' # 하락색, default는 적색
                )])

fig.layout = dict(title=stock_name, 
                  xaxis = dict(type="category", 
                categoryorder='category ascending'))

fig.update_xaxes(nticks=3)
fig.update_layout(xaxis_rangeslider_visible=False)

fig.show()