<a href="https://colab.research.google.com/github/sisomimoctrl/finance-data/blob/main/investing_realtime_usd_krw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd
import json
import datetime

headers = {'User-Agent':'Chrome/78.0.3904.87 Safari/537.36',}
url = 'https://api.investing.com/api/financialdata/650/historical/chart/?interval=PT1M&pointscount=70'
json_data = json.loads(requests.get(url, headers=headers).text)
json_data

{'data': [[1653871560000, 1252.4, 1252.43, 1252.34, 1252.43, 0, 0],
  [1653871620000, 1252.41, 1252.44, 1252.41, 1252.44, 0, 0],
  [1653871680000, 1252.4, 1252.41, 1252.34, 1252.38, 0, 0],
  [1653871740000, 1252.45, 1252.56, 1252.45, 1252.54, 0, 0],
  [1653871800000, 1252.54, 1252.54, 1252.44, 1252.44, 0, 0],
  [1653871860000, 1252.35, 1252.35, 1252.18, 1252.26, 0, 0],
  [1653871920000, 1252.24, 1252.42, 1252.24, 1252.42, 0, 0],
  [1653871980000, 1252.32, 1252.32, 1252.05, 1252.05, 0, 0],
  [1653872040000, 1252.11, 1252.16, 1252.06, 1252.06, 0, 0],
  [1653872100000, 1252.15, 1252.33, 1252.15, 1252.25, 0, 0],
  [1653872160000, 1252.09, 1252.29, 1252.09, 1252.26, 0, 0],
  [1653872220000, 1252.3, 1252.35, 1252.26, 1252.27, 0, 0],
  [1653872280000, 1252.27, 1252.33, 1252.21, 1252.21, 0, 0],
  [1653872340000, 1252.16, 1252.19, 1252.16, 1252.19, 0, 0],
  [1653872400000, 1252.11, 1252.11, 1251.94, 1251.97, 0, 0],
  [1653872460000, 1251.95, 1252.01, 1251.89, 1252.01, 0, 0],
  [1653872520000, 1251.96, 1252.2, 1251.96, 1251.99, 0, 0],
  [1653872580000, 1252.05, 1252.17, 1252.05, 1252.06, 0, 0],
  [1653872640000, 1252.05, 1252.08, 1251.98, 1252.01, 0, 0],
  [1653872700000, 1252.09, 1252.3, 1252.09, 1252.23, 0, 0],
  [1653872760000, 1252.22, 1252.23, 1252.07, 1252.07, 0, 0],
  [1653872820000, 1252.1, 1252.1, 1252.07, 1252.08, 0, 0],
  [1653872880000, 1252.07, 1252.12, 1252.07, 1252.09, 0, 0],
  [1653872940000, 1252.23, 1252.36, 1252.19, 1252.31, 0, 0],
  [1653873000000, 1252.37, 1252.37, 1252.29, 1252.3, 0, 0],
  [1653873060000, 1252.3, 1252.31, 1252.21, 1252.24, 0, 0],
  [1653873120000, 1252.08, 1252.08, 1251.64, 1251.84, 0, 0],
  [1653873180000, 1251.83, 1252.03, 1251.83, 1251.96, 0, 0],
  [1653873240000, 1251.82, 1251.82, 1251.53, 1251.58, 0, 0],
  [1653873300000, 1251.54, 1251.56, 1251.54, 1251.56, 0, 0],
  [1653873360000, 1251.58, 1251.78, 1251.58, 1251.76, 0, 0],
  [1653873420000, 1251.73, 1251.9, 1251.73, 1251.9, 0, 0],
  [1653873480000, 1251.9, 1251.94, 1251.69, 1251.69, 0, 0],
  [1653873540000, 1251.7, 1251.7, 1251.54, 1251.61, 0, 0],
  [1653873600000, 1251.6, 1251.6, 1251.55, 1251.56, 0, 0],
  [1653873660000, 1251.58, 1251.67, 1251.45, 1251.49, 0, 0],
  [1653873720000, 1251.49, 1251.52, 1251.49, 1251.51, 0, 0],
  [1653873780000, 1251.67, 1251.69, 1251.57, 1251.69, 0, 0],
  [1653873840000, 1251.64, 1251.66, 1251.62, 1251.65, 0, 0],
  [1653873900000, 1251.61, 1251.69, 1251.61, 1251.69, 0, 0],
  [1653873960000, 1251.8, 1251.82, 1251.8, 1251.82, 0, 0],
  [1653874020000, 1251.8, 1251.8, 1251.69, 1251.69, 0, 0],
  [1653874080000, 1251.84, 1251.85, 1251.77, 1251.82, 0, 0],
  [1653874140000, 1251.79, 1251.8, 1251.73, 1251.77, 0, 0],
  [1653874200000, 1251.65, 1251.92, 1251.54, 1251.92, 0, 0],
  [1653874260000, 1251.58, 1251.81, 1251.58, 1251.65, 0, 0],
  [1653874320000, 1251.56, 1251.6, 1251.54, 1251.6, 0, 0],
  [1653874380000, 1251.62, 1251.62, 1251.51, 1251.51, 0, 0],
  [1653874440000, 1251.44, 1251.55, 1251.36, 1251.51, 0, 0],
  [1653874500000, 1251.1, 1251.1, 1250.82, 1250.82, 0, 0],
  [1653874560000, 1250.61, 1250.61, 1250.42, 1250.43, 0, 0],
  [1653874620000, 1250.32, 1250.32, 1249.97, 1250.12, 0, 0],
  [1653874680000, 1250.07, 1250.12, 1249.98, 1249.98, 0, 0],
  [1653874740000, 1249.82, 1249.82, 1249.14, 1249.14, 0, 0],
  [1653874800000, 1249.3, 1249.31, 1248.91, 1248.91, 0, 0],
  [1653874860000, 1249.17, 1249.83, 1249.17, 1249.83, 0, 0],
  [1653874920000, 1249.3, 1249.61, 1249.3, 1249.61, 0, 0],
  [1653874980000, 1249.61, 1249.8, 1249.51, 1249.8, 0, 0],
  [1653875040000, 1249.65, 1249.65, 1249.24, 1249.24, 0, 0],
  [1653875100000, 1249.18, 1249.18, 1248.99, 1249.07, 0, 0],
  [1653875160000, 1249.02, 1249.03, 1248.9, 1248.9, 0, 0],
  [1653875220000, 1248.81, 1249.11, 1248.81, 1249.1, 0, 0],
  [1653875280000, 1249.23, 1249.28, 1249.06, 1249.11, 0, 0],
  [1653875340000, 1249.03, 1249.03, 1248.83, 1248.94, 0, 0],
  [1653875400000, 1248.89, 1248.97, 1248.42, 1248.42, 0, 0],
  [1653875460000, 1248.31, 1248.61, 1248.31, 1248.6, 0, 0],
  [1653875520000, 1248.62, 1248.76, 1248.62, 1248.76, 0, 0],
  [1653875580000, 1248.8, 1249.06, 1248.8, 1249.06, 0, 0],
  [1653875640000, 1249.16, 1249.33, 1249.08, 1249.33, 0, 0],
  [1653875700000, 1249.43, 1249.43, 1249.43, 1249.43, 0, 0]],
 'events': None}

In [2]:
df = pd.DataFrame(json_data['data'])
df.tail()

                0        1        2        3        4  5  6
65  1653875460000  1248.31  1248.61  1248.31  1248.60  0  0
66  1653875520000  1248.62  1248.76  1248.62  1248.76  0  0
67  1653875580000  1248.80  1249.06  1248.80  1249.06  0  0
68  1653875640000  1249.16  1249.33  1249.08  1249.33  0  0
69  1653875700000  1249.43  1249.43  1249.43  1249.43  0  0

In [3]:
df = df.loc[:,0:5]
df.columns=['Timestamp','Open','High','Low','Close','Volume']
df.tail()

        Timestamp     Open     High      Low    Close  Volume
65  1653875460000  1248.31  1248.61  1248.31  1248.60       0
66  1653875520000  1248.62  1248.76  1248.62  1248.76       0
67  1653875580000  1248.80  1249.06  1248.80  1249.06       0
68  1653875640000  1249.16  1249.33  1249.08  1249.33       0
69  1653875700000  1249.43  1249.43  1249.43  1249.43       0

In [4]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='ms')
df.rename(columns = {'Timestamp':'Date'},inplace=True)
df.set_index('Date', inplace=True)
df.tail()

                        Open     High      Low    Close  Volume
Date
2022-05-30 01:51:00  1248.31  1248.61  1248.31  1248.60       0
2022-05-30 01:52:00  1248.62  1248.76  1248.62  1248.76       0
2022-05-30 01:53:00  1248.80  1249.06  1248.80  1249.06       0
2022-05-30 01:54:00  1249.16  1249.33  1249.08  1249.33       0
2022-05-30 01:55:00  1249.43  1249.43  1249.43  1249.43       0

In [5]:
# convert timezone from UTC to GMT+9
df.index = df.index.tz_localize('gmt').tz_convert('Asia/Seoul')
df.tail()

                              Open     High      Low    Close  Volume
Date
2022-05-30 10:51:00+09:00  1248.31  1248.61  1248.31  1248.60       0
2022-05-30 10:52:00+09:00  1248.62  1248.76  1248.62  1248.76       0
2022-05-30 10:53:00+09:00  1248.80  1249.06  1248.80  1249.06       0
2022-05-30 10:54:00+09:00  1249.16  1249.33  1249.08  1249.33       0
2022-05-30 10:55:00+09:00  1249.43  1249.43  1249.43  1249.43       0