<a href="https://colab.research.google.com/github/sisomimoctrl/finance-data/blob/main/investing_realtime_kospi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd
import json
import datetime

headers = {'User-Agent':'Chrome/78.0.3904.87 Safari/537.36',}
url = 'https://api.investing.com/api/financialdata/37426/historical/chart/?interval=PT1M&pointscount=70'
json_data = json.loads(requests.get(url, headers=headers).text)
json_data

{'data': [[1653873180000, 2661.41, 2661.41, 2660.06, 2660.72, 0, 0],
  [1653873240000, 2660.78, 2661.76, 2660.13, 2660.45, 0, 0],
  [1653873300000, 2661.23, 2661.42, 2660.02, 2661.17, 0, 0],
  [1653873360000, 2661.76, 2661.92, 2660.83, 2661.85, 0, 0],
  [1653873420000, 2661.43, 2661.88, 2660.97, 2661.88, 0, 0],
  [1653873480000, 2662.63, 2662.75, 2661.87, 2662.65, 0, 0],
  [1653873540000, 2661.57, 2664.41, 2661.57, 2664.41, 0, 0],
  [1653873600000, 2663.79, 2664.83, 2663.56, 2663.6, 0, 0],
  [1653873660000, 2664.32, 2664.59, 2664.03, 2664.23, 0, 0],
  [1653873720000, 2664.44, 2664.44, 2663.34, 2663.34, 0, 0],
  [1653873780000, 2663.69, 2663.69, 2662.17, 2662.63, 0, 0],
  [1653873840000, 2662.86, 2663.84, 2662.06, 2662.06, 0, 0],
  [1653873900000, 2662.26, 2663.47, 2661.68, 2662.79, 0, 0],
  [1653873960000, 2663.56, 2664.25, 2662.63, 2663.73, 0, 0],
  [1653874020000, 2663.33, 2663.88, 2662.96, 2663.68, 0, 0],
  [1653874080000, 2664.55, 2664.55, 2663.77, 2663.77, 0, 0],
  [1653874140000, 2664.06, 2664.59, 2663.63, 2663.84, 0, 0],
  [1653874200000, 2663.62, 2664.47, 2663.49, 2663.49, 0, 0],
  [1653874260000, 2663.31, 2663.62, 2663.27, 2663.51, 0, 0],
  [1653874320000, 2662.4, 2663.56, 2662.4, 2662.92, 0, 0],
  [1653874380000, 2662.82, 2663.69, 2661.84, 2662.18, 0, 0],
  [1653874440000, 2663.64, 2663.64, 2662.06, 2662.15, 0, 0],
  [1653874500000, 2662.85, 2663.86, 2662.48, 2663.86, 0, 0],
  [1653874560000, 2663.31, 2663.53, 2663.02, 2663.53, 0, 0],
  [1653874620000, 2664.33, 2664.59, 2663.86, 2664.45, 0, 0],
  [1653874680000, 2663.38, 2665.22, 2663.38, 2664.65, 0, 0],
  [1653874740000, 2664.32, 2664.76, 2663.49, 2664.65, 0, 0],
  [1653874800000, 2664.35, 2665.18, 2663.57, 2664.49, 0, 0],
  [1653874860000, 2664.52, 2664.95, 2663.67, 2663.78, 0, 0],
  [1653874920000, 2664.45, 2665.13, 2663.47, 2664.67, 0, 0],
  [1653874980000, 2664.05, 2664.78, 2663.97, 2664.52, 0, 0],
  [1653875040000, 2665.57, 2665.84, 2664.7, 2665.84, 0, 0],
  [1653875100000, 2666.35, 2666.35, 2664.81, 2664.81, 0, 0],
  [1653875160000, 2664.74, 2665.66, 2664.26, 2664.34, 0, 0],
  [1653875220000, 2664.74, 2665.21, 2663.77, 2664.72, 0, 0],
  [1653875280000, 2665.27, 2665.47, 2664.46, 2665.47, 0, 0],
  [1653875340000, 2664.35, 2665.66, 2664.35, 2664.39, 0, 0],
  [1653875400000, 2664.49, 2664.49, 2663.2, 2663.73, 0, 0],
  [1653875460000, 2664.27, 2664.74, 2663.39, 2664.74, 0, 0],
  [1653875520000, 2664.37, 2664.47, 2663.66, 2664.06, 0, 0],
  [1653875580000, 2664.87, 2664.87, 2663.25, 2663.81, 0, 0],
  [1653875640000, 2663.45, 2664.69, 2663.39, 2663.39, 0, 0],
  [1653875700000, 2663.28, 2664.03, 2663.28, 2663.5, 0, 0],
  [1653875760000, 2663.02, 2664.24, 2663.02, 2663.51, 0, 0],
  [1653875820000, 2663.47, 2663.96, 2662.66, 2663.7, 0, 0],
  [1653875880000, 2663.05, 2664.09, 2663.05, 2663.16, 0, 0],
  [1653875940000, 2662.58, 2664.02, 2662.58, 2662.99, 0, 0],
  [1653876000000, 2662.99, 2663.91, 2662.65, 2663.91, 0, 0],
  [1653876060000, 2662.74, 2663.9, 2662.69, 2663.9, 0, 0],
  [1653876120000, 2663.95, 2664.18, 2663.51, 2663.54, 0, 0],
  [1653876180000, 2663.91, 2664.55, 2663.44, 2663.44, 0, 0],
  [1653876240000, 2664.15, 2664.81, 2663.45, 2664.81, 0, 0],
  [1653876300000, 2664.26, 2665.06, 2663.55, 2664.38, 0, 0],
  [1653876360000, 2663.54, 2664.51, 2663.54, 2664.46, 0, 0],
  [1653876420000, 2665.13, 2665.3, 2663.71, 2665.3, 0, 0],
  [1653876480000, 2665.69, 2665.69, 2663.87, 2665.05, 0, 0],
  [1653876540000, 2664.01, 2665.79, 2664.01, 2665.7, 0, 0],
  [1653876600000, 2665.33, 2665.68, 2664.77, 2665.68, 0, 0],
  [1653876660000, 2664.89, 2666.61, 2664.89, 2665.8, 0, 0],
  [1653876720000, 2665.65, 2666.04, 2665.61, 2665.61, 0, 0],
  [1653876780000, 2665.62, 2666.21, 2665.37, 2665.8, 0, 0],
  [1653876840000, 2665.71, 2666.96, 2665.71, 2666.66, 0, 0],
  [1653876900000, 2666.96, 2667.18, 2665.89, 2667.01, 0, 0],
  [1653876960000, 2666.71, 2667.35, 2666.17, 2666.23, 0, 0],
  [1653877020000, 2666.18, 2667.25, 2665.97, 2667.07, 0, 0],
  [1653877080000, 2665.83, 2667.76, 2665.83, 2667.76, 0, 0],
  [1653877140000, 2666.25, 2668.21, 2666.25, 2667.7, 0, 0],
  [1653877200000, 2668.08, 2668.55, 2667.15, 2667.57, 0, 0],
  [1653877260000, 2667.63, 2669.66, 2667.63, 2669.14, 0, 0],
  [1653877320000, 2668.75, 2668.75, 2668.75, 2668.75, 0, 0]],
 'events': None}

In [2]:
df = pd.DataFrame(json_data['data'])
df.tail()

                0        1        2        3        4  5  6
65  1653877080000  2665.83  2667.76  2665.83  2667.76  0  0
66  1653877140000  2666.25  2668.21  2666.25  2667.70  0  0
67  1653877200000  2668.08  2668.55  2667.15  2667.57  0  0
68  1653877260000  2667.63  2669.66  2667.63  2669.14  0  0
69  1653877320000  2668.75  2668.75  2668.75  2668.75  0  0

In [3]:
df = df.loc[:,0:5]
df.columns=['Timestamp','Open','High','Low','Close','Volume']
df.tail()

        Timestamp     Open     High      Low    Close  Volume
65  1653877080000  2665.83  2667.76  2665.83  2667.76       0
66  1653877140000  2666.25  2668.21  2666.25  2667.70       0
67  1653877200000  2668.08  2668.55  2667.15  2667.57       0
68  1653877260000  2667.63  2669.66  2667.63  2669.14       0
69  1653877320000  2668.75  2668.75  2668.75  2668.75       0

In [4]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='ms')
df.rename(columns = {'Timestamp':'Date'},inplace=True)
df.set_index('Date', inplace=True)
df.tail()

                        Open     High      Low    Close  Volume
Date
2022-05-30 02:18:00  2665.83  2667.76  2665.83  2667.76       0
2022-05-30 02:19:00  2666.25  2668.21  2666.25  2667.70       0
2022-05-30 02:20:00  2668.08  2668.55  2667.15  2667.57       0
2022-05-30 02:21:00  2667.63  2669.66  2667.63  2669.14       0
2022-05-30 02:22:00  2668.75  2668.75  2668.75  2668.75       0

In [5]:
# convert timezone from UTC to GMT+9
df.index = df.index.tz_localize('gmt').tz_convert('Asia/Seoul')
df.tail()

                              Open     High      Low    Close  Volume
Date
2022-05-30 11:18:00+09:00  2665.83  2667.76  2665.83  2667.76       0
2022-05-30 11:19:00+09:00  2666.25  2668.21  2666.25  2667.70       0
2022-05-30 11:20:00+09:00  2668.08  2668.55  2667.15  2667.57       0
2022-05-30 11:21:00+09:00  2667.63  2669.66  2667.63  2669.14       0
2022-05-30 11:22:00+09:00  2668.75  2668.75  2668.75  2668.75       0