<a href="https://colab.research.google.com/github/sisomimoctrl/finance-data/blob/main/investing_realtime_crude_oil_wti_futures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd
import json
import datetime

headers = {'User-Agent':'Chrome/78.0.3904.87 Safari/537.36',}
url = 'https://api.investing.com/api/financialdata/8849/historical/chart/?interval=PT1M&pointscount=60'
json_data = json.loads(requests.get(url, headers=headers).text)
json_data

{'data': [[1653868500000, 115.61, 115.62, 115.61, 115.62, 0, 0],
  [1653868560000, 115.62, 115.62, 115.61, 115.61, 0, 0],
  [1653868620000, 115.62, 115.62, 115.61, 115.61, 0, 0],
  [1653868680000, 115.61, 115.62, 115.61, 115.62, 0, 0],
  [1653868740000, 115.6, 115.62, 115.6, 115.61, 0, 0],
  [1653868800000, 115.58, 115.58, 115.5, 115.52, 0, 0],
  [1653868860000, 115.5, 115.55, 115.5, 115.55, 0, 0],
  [1653868920000, 115.57, 115.59, 115.55, 115.56, 0, 0],
  [1653868980000, 115.58, 115.61, 115.58, 115.59, 0, 0],
  [1653869040000, 115.61, 115.61, 115.58, 115.59, 0, 0],
  [1653869100000, 115.59, 115.59, 115.55, 115.55, 0, 0],
  [1653869160000, 115.56, 115.56, 115.56, 115.56, 0, 0],
  [1653869220000, 115.56, 115.56, 115.47, 115.47, 0, 0],
  [1653869280000, 115.47, 115.47, 115.44, 115.46, 0, 0],
  [1653869340000, 115.44, 115.45, 115.44, 115.45, 0, 0],
  [1653869400000, 115.47, 115.47, 115.45, 115.45, 0, 0],
  [1653869460000, 115.45, 115.47, 115.44, 115.46, 0, 0],
  [1653869520000, 115.47, 115.49, 115.45, 115.48, 0, 0],
  [1653869580000, 115.49, 115.52, 115.48, 115.52, 0, 0],
  [1653869640000, 115.52, 115.52, 115.5, 115.5, 0, 0],
  [1653869700000, 115.53, 115.55, 115.53, 115.54, 0, 0],
  [1653869760000, 115.52, 115.56, 115.52, 115.56, 0, 0],
  [1653869820000, 115.55, 115.56, 115.55, 115.56, 0, 0],
  [1653869880000, 115.56, 115.59, 115.56, 115.59, 0, 0],
  [1653869940000, 115.56, 115.58, 115.55, 115.55, 0, 0],
  [1653870000000, 115.55, 115.56, 115.55, 115.56, 0, 0],
  [1653870060000, 115.53, 115.57, 115.53, 115.57, 0, 0],
  [1653870120000, 115.56, 115.58, 115.56, 115.58, 0, 0],
  [1653870180000, 115.58, 115.59, 115.56, 115.56, 0, 0],
  [1653870240000, 115.56, 115.56, 115.52, 115.55, 0, 0],
  [1653870300000, 115.55, 115.58, 115.55, 115.58, 0, 0],
  [1653870360000, 115.58, 115.59, 115.53, 115.55, 0, 0],
  [1653870420000, 115.56, 115.59, 115.56, 115.58, 0, 0],
  [1653870480000, 115.59, 115.59, 115.59, 115.59, 0, 0],
  [1653870540000, 115.64, 115.64, 115.61, 115.62, 0, 0],
  [1653870600000, 115.61, 115.61, 115.59, 115.59, 0, 0],
  [1653870660000, 115.59, 115.59, 115.58, 115.58, 0, 0],
  [1653870720000, 115.6, 115.62, 115.59, 115.61, 0, 0],
  [1653870780000, 115.6, 115.62, 115.58, 115.61, 0, 0],
  [1653870840000, 115.62, 115.62, 115.6, 115.6, 0, 0],
  [1653870900000, 115.61, 115.61, 115.58, 115.58, 0, 0],
  [1653870960000, 115.59, 115.62, 115.59, 115.62, 0, 0],
  [1653871020000, 115.61, 115.62, 115.61, 115.62, 0, 0],
  [1653871080000, 115.61, 115.61, 115.58, 115.6, 0, 0],
  [1653871140000, 115.56, 115.56, 115.5, 115.5, 0, 0],
  [1653871200000, 115.52, 115.55, 115.5, 115.55, 0, 0],
  [1653871260000, 115.53, 115.53, 115.52, 115.52, 0, 0],
  [1653871320000, 115.52, 115.53, 115.52, 115.53, 0, 0],
  [1653871380000, 115.55, 115.61, 115.55, 115.6, 0, 0],
  [1653871440000, 115.59, 115.65, 115.59, 115.64, 0, 0],
  [1653871500000, 115.65, 115.7, 115.65, 115.69, 0, 0],
  [1653871560000, 115.68, 115.69, 115.67, 115.69, 0, 0],
  [1653871620000, 115.67, 115.75, 115.67, 115.72, 0, 0],
  [1653871680000, 115.73, 115.75, 115.72, 115.75, 0, 0],
  [1653871740000, 115.75, 115.76, 115.7, 115.73, 0, 0],
  [1653871800000, 115.74, 115.78, 115.72, 115.75, 0, 0],
  [1653871860000, 115.77, 115.81, 115.75, 115.8, 0, 0],
  [1653871920000, 115.78, 115.8, 115.72, 115.72, 0, 0],
  [1653871980000, 115.73, 115.77, 115.72, 115.75, 0, 0],
  [1653872040000, 115.74, 115.77, 115.72, 115.76, 0, 0]],
 'events': None}

In [2]:
df = pd.DataFrame(json_data['data'])
df.head()

               0       1       2       3       4  5  6
0  1653868500000  115.61  115.62  115.61  115.62  0  0
1  1653868560000  115.62  115.62  115.61  115.61  0  0
2  1653868620000  115.62  115.62  115.61  115.61  0  0
3  1653868680000  115.61  115.62  115.61  115.62  0  0
4  1653868740000  115.60  115.62  115.60  115.61  0  0

In [3]:
df = df.loc[:,0:5]
df.columns=['Timestamp','Open','High','Low','Close','Volume']
df.head()

       Timestamp    Open    High     Low   Close  Volume
0  1653868500000  115.61  115.62  115.61  115.62       0
1  1653868560000  115.62  115.62  115.61  115.61       0
2  1653868620000  115.62  115.62  115.61  115.61       0
3  1653868680000  115.61  115.62  115.61  115.62       0
4  1653868740000  115.60  115.62  115.60  115.61       0

In [4]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='ms')
df.rename(columns = {'Timestamp':'Date'},inplace=True)
df.set_index('Date', inplace=True)
df.head()

                       Open    High     Low   Close  Volume
Date
2022-05-29 23:55:00  115.61  115.62  115.61  115.62       0
2022-05-29 23:56:00  115.62  115.62  115.61  115.61       0
2022-05-29 23:57:00  115.62  115.62  115.61  115.61       0
2022-05-29 23:58:00  115.61  115.62  115.61  115.62       0
2022-05-29 23:59:00  115.60  115.62  115.60  115.61       0

In [5]:
# convert timezone from UTC to GMT+9
df.index = df.index.tz_localize('gmt').tz_convert('Asia/Seoul')
df.head()

                             Open    High     Low   Close  Volume
Date
2022-05-30 08:55:00+09:00  115.61  115.62  115.61  115.62       0
2022-05-30 08:56:00+09:00  115.62  115.62  115.61  115.61       0
2022-05-30 08:57:00+09:00  115.62  115.62  115.61  115.61       0
2022-05-30 08:58:00+09:00  115.61  115.62  115.61  115.62       0
2022-05-30 08:59:00+09:00  115.60  115.62  115.60  115.61       0